.footer-buttom {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333A44;
    &__container {
        width: 1320px;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__icon {
        width: 107.817px;
        height: 28.56px;
        flex-shrink: 0;
        margin-right: 26px;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;

        &__link {
            text-decoration: none;
            text-transform: lowercase;

            &__item {
                color: #939CAA;
                font-family: Space Mono;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 25px;
                text-decoration: none;
                text-transform: lowercase;
                
            }
            &__item:hover {
                color: #18396d;
                font-family: Space Mono;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 25px;
                 
            }
        }
    }

    &__btn {
        width: 180px;
        height: 53px;
        flex-shrink: 0;
        background: #FCB72B;
        color: #FFF;
        text-align: center;
        font-family: Space Mono;
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        border: none;
    }

    &__btn:hover {
        width: 180px;
        height: 53px;
        flex-shrink: 0;
        background: #ffffff;
        color: #FCB72B;
        text-align: center;
        font-family: Space Mono;
        font-size: 19px;
        font-weight: 800;
        line-height: 27px;
        border: 2px solid  #FCB72B;
        border-radius: 5px;
    }


}